.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list-title {
  margin: 0;
}

/* Force consistent card sizing */
.collection-list .card-wrapper {
  height: 100%;
}

.collection-list .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.collection-list .card__inner {
  --ratio-percent: 100% !important; /* Force square aspect ratio */
}

.collection-list .card__media {
  height: 100%;
}

.collection-list .card__media .media {
  height: 100%;
}

.collection-list .card__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.collection-list .card__content {
  flex-shrink: 0;
}

/* Ensure grid items have equal height */
.collection-list.grid {
  align-items: stretch;
}

.collection-list .grid__item {
  display: flex;
}

@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
